# WARNING: Remove all comments from this file after copying to .env, comments can cause issues
DB_HOST=localhost
DB_PORT=5432 # Port number for the PostgreSQL database
DB_NAME=ca_properties_db
DB_USER=posgres
# WARNING: DO NOT change the above variables or else the application won't work 
# WARNING: If your password contains special characters like @, $, !, wrap it in quotes: DB_PASSWORD="your@password"
DB_PASSWORD=your_password
LOG_LEVEL=INFO
UPDATE_USER=your_name
# Optional: specify CSV path here, or pass --csv argument via command line
CSV_PATH=data/your_file.csv #remove this line if you don't want to use it